doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='styles/style.css')
    body
        div(class='topnav')
            a(class='active' href='#home') Home
            a(href='#cube') Cube
    block content